@import "./vendors/normalize.scss";

@import "./fonts";
@import "./variables";
@import "./functions";
@import "./mixins";

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}

.container {
  max-width: vw(1110);
  margin: 0 auto;
}